Initial Set Up

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

Number of Schools

In [6]:
school_count = []

cnt = 0

for i in range(0, len(school_data_complete['school_name'])):
    
    if school_data_complete['school_name'][i] not in school_count:
        school_count.append(school_data_complete['school_name'][i])
        cnt += 1
        
print("Number of Schools :", cnt)

Number of Schools : 15

Number of Students

In [8]:
student_count = []

cnt = 0

for i in range(0, len(school_data_complete['student_name'])):
    
    if school_data_complete['student_name'][i] not in student_count:
        cnt += 1
        
print("Number of Students :", cnt)

Number of Students : 39170

Total Budget

In [14]:
total_budget = school_data['budget'].sum()

print("Total Budget: ", total_budget)

Total Budget:  24649428

Average Math Score

In [15]:
average_math_score = school_data_complete['math_score'].mean()

print("Average Math Score: ", average_math_score)

Average Math Score:  78.98537145774827

Average Reading Score

In [16]:
average_reading_score = school_data_complete['reading_score'].mean()

print("Average Reading Score: ", average_reading_score)

Average Reading Score:  81.87784018381414

Percentage of Students that Passed Math

In [19]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(cnt) * 100
print("Percentage of Students that Passed Math: ", passing_math_percentage)

Percentage of Students that Passed Math:  74.9808526933878

Percentage of Students that Passed Reading

In [21]:
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(cnt) * 100

print("Pecentage of Students that Passed Reading: ", passing_reading_percentage)

Pecentage of Students that Passed Reading:  85.80546336482001

Percentage of Students that passed Math and Reading

In [22]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(cnt) * 100

print("Student overall passing percentage: ", overall_passing_rate)

Student overall passing percentage:  65.17232575950983