Initial Set Up

In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how = "left", on = ["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

Number of Schools

In [25]:
school_count = []

sc_count = 0

for i in range(0, len(school_data_complete['school_name'])):
    
    if school_data_complete['school_name'][i] not in school_count:
        school_count.append(school_data_complete['school_name'][i])
        sc_count += 1
        
print("Number of Schools :", sc_count)

Number of Schools : 15

Number of Students

In [26]:
student_count = []

st_count = 0

for i in range(0, len(school_data_complete['student_name'])):
    
    if school_data_complete['student_name'][i] not in student_count:
        st_count += 1
        
print("Number of Students :", st_count)

Number of Students : 39170

Total Budget

In [27]:
total_budget = school_data['budget'].sum()

print("Total Budget: ", total_budget)

Total Budget:  24649428

Average Math Score

In [28]:
average_math_score = school_data_complete['math_score'].mean()

print("Average Math Score: ", average_math_score)

Average Math Score:  78.98537145774827

Average Reading Score

In [29]:
average_reading_score = school_data_complete['reading_score'].mean()

print("Average Reading Score: ", average_reading_score)

Average Reading Score:  81.87784018381414

Percentage of Students that Passed Math

In [30]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(st_count) * 100
print("Percentage of Students that Passed Math: ", passing_math_percentage)

Percentage of Students that Passed Math:  74.9808526933878

Percentage of Students that Passed Reading

In [31]:
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(st_count) * 100

print("Pecentage of Students that Passed Reading: ", passing_reading_percentage)

Pecentage of Students that Passed Reading:  85.80546336482001

Percentage of Students that passed Math and Reading

In [32]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(st_count) * 100

print("Student overall passing percentage: ", overall_passing_rate)

Student overall passing percentage:  65.17232575950983

District Summary

In [37]:
# District's key metrics in a DataFrame
data = {"Total Schools": [sc_count], "Total Students": [st_count], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score":[average_reading_score], "% Passing Math":[passing_math_percentage], "% Passing Reading":[passing_reading_percentage], "% Overall Passing":[overall_passing_rate]}

district_summary = pd.DataFrame(data)

# Formatting DataFrame
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Displaying DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

School Types

In [45]:
school_types = school_data.set_index(["school_name"])["type"]

Total Student Count by School

In [47]:
per_school_counts = school_data_complete.groupby(["school_name"]).count()["student_name"]


per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64